/* GLOBAL VARIABLE */

:root{
    --theme-primary: #6379F4; 
    --theme-secondary: #fff; 
    --theme-dark: #3A3D42; 
    --theme-error: #FF5B37; 
    --theme-light: rgba(71, 58, 209, 0.06);
 }
 
 /* OVERRIDING */
 
 .btn{
     min-width: 120px;
     border: 2px solid #fff;
     font-weight: bold;
     border-radius: 12px;
 }
 
 .btn.btn-primary{
     background-color: var(--theme-primary) !important;
 }
 
 .btn.btn-secondary{
     color: var(--theme-primary);
     background-color: var(--theme-secondary) !important;
 }
 
 .btn:focus{
     box-shadow: unset;
 }
 
 .navbar{
     padding: calc(var(--bs-navbar-padding-y) * 3) 0;
 }
 
 .navbar-toggler{
     border-color: #6379F4;
 }
 
 .navbar-toggler:focus{
     box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) var(--theme-primary);
 }
 
 .navbar-toggler-icon{
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2871, 58, 209, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
 }
 
 /* CUSTOM CSS */
 
 .max-text-w {
     max-width: 330px;
     width: 100%;
 }
 
 .highlight{
     color: #6379F4;
 }
 
 .accent-1{
     background: url(../image/accent-1.png);
     background-position: top right;
     background-repeat: no-repeat;
     background-size: 50%;
 }
 
 .bg-theme-light{
     background-color: var(--theme-light);
 }
 
 .bg-theme-primary{
     background-color: var(--theme-primary);
 }
 
 /* BREAKPOINTS */
 
 /* // X-Small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
 }
 
 /* // Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) { 
     .accent-1{
         background: unset;
     }
     .max-on-sm{
         max-height: 400px;
     }
     .bg-sm-light{
         --bs-bg-opacity: 1;
         background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
     }
 }
 
 /* // Medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) { 
 }
 
 /* // Large devices (desktops, less than 1200px) */
 @media (max-width: 1199.98px) { 
     
 }
 
 /* // X-Large devices (large desktops, less than 1400px) */
 @media (max-width: 1399.98px) { 
 }